* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    padding: 24px 0;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

main {
    height: 100%;
}

.notfound-title {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 25.18px;
    letter-spacing: -0.08em;
    padding: 0 3px;
}

.error-txt h2 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 3rem;
    line-height: 71.09px;
    letter-spacing: -3.5%;
    margin: 26px 0;
}

.error-txt p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}

a .btn {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin: auto;
    padding: 20px;
}

.btn {
    background-color: #333333;
    width: 216px;
    height: 68px;
    border: none;
    cursor: pointer;
    margin-top: 45px;
    transition: background-color 0.3s ease;
}

.btn:hover,
.btn:focus {
    background-color: #60588e;
}

footer {
    margin-top: 24px;
}
.footer__txt,
.footer__txt a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    color: #60588e;
    transition: color 0.3s ease;
    text-align: center;
}

.footer__txt a:hover,
.footer__txt a:focus {
    color: #ff6d5b;
}

figure img {
    max-width: 100%;
}

/* Media queries */

@media (min-width: 375px) {
    header,
    main,
    footer {
        width: 95%;
    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    @media (min-width: 768px) {
        main {
            justify-content: space-between;
            flex-direction: row;
        }

        figure {
            margin-right: 2em;
        }

        .error-txt p {
            font-size: 24px;
            line-height: 35px;
            letter-spacing: -3.5%;
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 1024px) {
    body {
        justify-content: space-around;
    }

    header,
    main,
    footer {
        max-width: 1200px;
    }

    .notfound-title,
    .error__msg {
        color: #333333;
    }

    .error-txt {
        max-width: 586px;
    }

    .error-txt h2 {
        font-size: 4rem;
        line-height: 95px;
    }

    .error-txt p {
        width: 381px;
    }
}
